<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="demo"
             deploymentSecret="obauuzm66skakjb5q08sd4hp4pq7z1rscyt6hdw23f"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
